body {
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0 auto;
	

}
*{
	padding: 0;
	margin: 0;
}
#title {
	font-size: 60px;
	margin: auto 0;
}
li {
		list-style: none;
		display: flex;
}
a {
	text-decoration: none;
}
header {
	background: #FAFAF9FF; 
	padding: 22px 0;
	z-index: 10;

}
#header-logo {
	transition: 0.5s ease;
}
#header-logo:hover {
	box-shadow: 2px 2px 8px 2px #C9C9C9FF;
	transition: 0.5s ease;
	transform: scale(1.1);
}
.header-container {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

}	
.header-container a {
	color: #000;
	font-size: 22px;
	font-weight: bold;
	margin-right: 63px;
	padding: 27px 6px;
	width: 80px;
	text-align: center;
	transition: 0.5s ease;
}
.header-container a:hover {
	background: #00FFE1FF;
	box-shadow: 1px 1px 2px 1px #C9C9C9FF;
	transform: scale(1.05);
	transition: 0.5s ease;
}
#menu-checkbox {
	display: none;
}
#activeBtn {
	background: #00FFE1FF;
}
ul {
	display: flex;
}
nav {
	margin-top: 20px;
}
main {
	width: 100%;
	background-image: url(picture/rest.JPG);
	background-repeat: no-repeat;
	background-attachment:fixed
}
.main-container {
	min-height: 1200px;
	padding: 22px 0;
	width: 100%;
}
article {
	width: 80%;
	color: #fff;
	background: hsl(0, 0%, 0%, 0.6);
	margin: 0 auto;
}
article h2 {
	text-align: center;
}
article p {
	font-size: 26px;
	padding: 5px 15px;
	margin: 10px;
	box-shadow: 2px 2px 2px 2px hsl(0, 0%, 0%, 0.1);
	transition: 0.5s ease;
}
article p:hover {
	box-shadow: 4px 4px 14px 2px hsl(0, 0%, 0%, 0.1);
	transform: scale(1.2);
	transition: 0.5s ease;
	background: hsl(0, 0%, 0%, 0.2);
}
.picMin img{
	width: 320px;
	display:block;
	margin:auto;
	transition: 0.5s ease-in-out;
}
.picMin img:hover {
	transform: scale(2) rotate(360deg);
	transition: 0.5s ease-in-out;
}
.picMin {
	width: 49.5%;
	display: inline-block;
}
.one {
	width: 100%;
}
#footer-container {
	width: 100%;
	height: 150px;
	background: #FAFAF9FF;
}
#socials {
	height: 150px;
	float: right;
	margin-right: 5%;
}
#socials ul {
	height: 150px;
	width: 500px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.social {
	width: 75px;
	height: 75px;
	background-image: url(picture/sprite.PNG);
}
#fb {
	background-position: 600px 0;
	transition: 0.5s ease-in-out;  
}
#fb:hover {
	background-position: 600px 75px; 
	transform: scale(1.1);
	transition: 0.5s ease-in-out;
}
#gPlus {
	background-position: 525px 0;
	transition: 0.3s ease-in-out; 
}
#gPlus:hover {
	background-position: 525px 75px; 
	transform: scale(1.1);
	transition: 0.3s ease-in-out; 
}
#inst {
	background-position: 450px 0;
	transition: 0.3s ease-in-out; 
}
#inst:hover {
	background-position: 450px 75px; 
	transform: scale(1.1);
	transition: 0.3s ease-in-out; 
}
#ok {
	background-position: 375px 0;
	transition: 0.3s ease-in-out; 
}
#ok:hover {
	background-position: 375px 75px; 
	transform: scale(1.1);
	transition: 0.3s ease-in-out; 
}
#tvit {
	background-position: 225px 0;
	transition: 0.3s ease-in-out; 
}
#tvit:hover {
	background-position: 225px 75px; 
	transform: scale(1.1);
	transition: 0.3s ease-in-out; 
}
#vk {
	background-position: 150px 0;
	transition: 0.3s ease-in-out; 
}
#vk:hover {
	background-position: 150px 75px; 
	transform: scale(1.1);
	transition: 0.3s ease-in-out; 
}
